# LaTeX files
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc

# Emacs files
\#*\#
.\#*
*.*~

# Compiled portfolio
pf.pdf
Opseth_Portfolio.pdf
